/* Menu Buttons Styling - Clean Green Theme */
.menu-button {
    -fx-font-family: "Arial Black";
    -fx-font-size: 26px;
    -fx-padding: 15px 50px;
    -fx-background-color: linear-gradient(to bottom, #90EE90, #006400);
    -fx-text-fill: white;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 3px;
    -fx-border-color: yellow;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: linear-gradient(to bottom, #ADFF2F, #228B22);
    -fx-text-fill: white;
    -fx-border-color: yellow;
}

.menu-button:pressed {
    -fx-background-color: linear-gradient(to bottom, yellow, #228B22);
    -fx-text-fill: white;
    -fx-border-color: yellow;
}
